body{
    background-color: rgba(231, 231, 231, 0.897);
}

h1{
    color: blueviolet;
    font-size: 60px;
}

ul li{
    color: black;
    font-size: 25px;
}



footer div h4{
    font-size: 25px;
}

footer div p{
    font-size: 25px;
}

main section p{
    font-size: 30px;
    color: rgba(141, 96, 184, 0.822);
}


/* SECCION NAVBAR */
.navbar{
    background-color: blueviolet;
}

.nav-link{
    color: whitesmoke;
    font-family: "Almendra", serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 10px;
}
.nav-link:hover{
    color: darkmagenta;
}


.navbar-brand{
    color: whitesmoke;
    font-size: 200%;
    font-family: serif;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: whitesmoke;
}
.navbar-nav .nav-link.active:hover{
    color: darkmagenta;
}


/* SECCION INDEX */
.separacion-cartas{
    column-gap: 30px;
    padding: 10px;
}

.hero-section {
    background-image: url('../img/ouija-fondo.jpeg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    text-align: center;
    color: #fff;
  }

  .text h1{
    text-shadow: 2px 2px 0px blueviolet;
    color: whitesmoke;
  }

  .text p{
    text-shadow: 1px 1px 0px blueviolet;
    color: whitesmoke;
  }

  .boton-text{
    background-color: blueviolet;
    border: 2px black;
    color:rgba(245, 245, 245, 0.877);
  }
  
  .boton-text:hover{
    background-color: whitesmoke;
    border: 2px blueviolet;
    color: blueviolet;
  }



.card {
    transition: transform 0.3s ease;
    border-radius: 10px;
  }

.card:hover {
    transform: scale(1.05);
  }

.card img {
    border-radius: 10px 10px 0 0;
  }


  /* SECCION FOOTER */
.footer {
    background-color: darkmagenta;
    color: #fff;
  }

.footer a {
    color: #fff;
    text-decoration: none;
  }

.footer a:hover {
    text-decoration: underline;
  }


  
.lista-footer{
    list-style-type: none;
    margin-right: 20px;
  }


  /* SECCION QUIEN SOY */

  .quien-soy {
    background-color: #f9f9f9;
    padding: 50px 0;
  }
  
  .quien-soy h1 {
    color: #6a1b9a;
    font-size: 2.5rem;
  }
  
  .quien-soy p {
    font-size: 1.1rem;
    line-height: 1.8;
  }
  
  .quien-soy .btn-primary {
    background-color: #8e24aa;
    border-color: #8e24aa;
    
  }
  
  .quien-soy .btn-primary:hover {
    background-color: whitesmoke;
    color: #8e24aa;
  }

  .p-frecuentes{
    background-color: mediumpurple;
  }
  .p-frecuentes h3{
    color: whitesmoke;
  }
  .accordion-body{
    background-color: whitesmoke;
    color:rgba(141, 96, 184, 0.822) ;
  }
  .accordion-button{
    color: #8e24aa;
    background-color: whitesmoke;
  }
 
