// ===== SECCION CURSOS VIRTUALES =====
.cursos-vir p {
    font-size: 1rem;

    h1 {
        color: #7f1b9bab;
    }
}

.section-1 {
    background-color: whitesmoke;
    border-radius: 20px;
}

.section-2 {
    background-color: whitesmoke;
    border-radius: 20px;

}