
// =====SECCION INDEX=====
.boton-text {
    background-color: blueviolet;
    border: 2px black;
    color: rgba(245, 245, 245, 0.877);


    &:hover {
        background-color: whitesmoke;
        border: 2px blueviolet;
        color: blueviolet;
    }
}
.boton-card1{
    background-color: #8E44AD;
    color: #FFFFFF;
    font-size: 14px;
    padding: 6px 12px;
    transition: background-color 0.3s;
    border: none;
    font-family: Tahoma, Geneva, sans-serif;
    
    &:hover {
        background-color: #6C3483;
        color: #FFFFFF;
    }
}
// ===== SECCION CURSOS VIRTUALES =====
.btn-cur {
    
    border-radius: 10px;
    background-color: #8E44AD;
    color: #FFFFFF;
    transition: background-color 0.3s;
    border: none;
    font-family: Tahoma, Geneva, sans-serif;


    &:hover {
        background-color: #6C3483;
        color: #FFFFFF;
    }
}

// ===== SECCION CONTACTO =====
.btn-cont {
    background-color: blueviolet;
    border: 1px solid blueviolet;

    &:hover {
        background-color: darkmagenta;
        border: 1px solid darkmagenta;
    }
}

