// ===== SECCION INDEX =====
.card {
    transition: transform 0.3s ease;
    border-radius: 10px;


    p {
        font-size: 16px;
        color: #D2B4DE;
        line-height: 1.6;
        font-family: Arial, Helvetica, sans-serif;
    }


    &:hover {
        transform: scale(1.05);
    }

    img {
        border-radius: 10px 10px 0 0;
    }
}


.separacion-cartas {
    column-gap: 30px;
    padding: 10px;
}

.titulocard {
    font-size: 30px;
    color: #5B2C6F;
    font-family: Georgia, serif;
}

